body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

canvas {
    margin-top: 15vh;
    margin-left: 20vw;
    background: black;
    outline: 5px solid red;
}

.difficulties {
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulties:hover {
    background: white;
    color: black;
}